<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sanket</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full bg-zinc-900">
    <div class="container bg-zinc-900 w-full">
        <h1 class="text-3xl text-white px-5 mt-2">     
            Create User
        </h1>
        <form action="/register" method="post" class="px-5 py-3 mt-4 d-flex flex-wrap">
            <input class="px-5 py-3 my-2 mx-1 bg-transparent border-2 outline-none rounded-md text-white" type="text" placeholder="username" name="username">
            <input class="px-5 py-3 my-2 mx-1 bg-transparent border-2 outline-none rounded-md text-white" type="text" placeholder="name" name="name">
            <input class="px-5 py-3 my-2 mx-1 bg-transparent border-2 outline-none rounded-md text-white" type="text" placeholder="email" name="email">
            <input class="px-5 py-3 my-2 mx-1 bg-transparent border-2 outline-none rounded-md text-white" type="password" placeholder="password" name="password">
            <input class="px-5 py-3 my-2 mx-1 bg-transparent border-2 outline-none rounded-md text-white" type="number" placeholder="age" name="age">
            <input class="px-5 py-3 my-2 mx-1 bg-blue-500 border-2 outline-none rounded-md" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
